/* ======================================================
   COLORS
====================================================== */

:root{

    --primary:#2563eb;
    --primary-dark:#1d4ed8;

    --success:#22c55e;
    --danger:#ef4444;

    --white:#ffffff;

    --bg:#f8fafc;

    --text:#0f172a;

    --text-light:#64748b;

    --text-muted:#94a3b8;

    --border:#cbd5e1;

    --border-light:#edf2f7;

}


/* ======================================================
   TYPOGRAPHY
====================================================== */

:root{

    --font-family:"Segoe UI",sans-serif;

    --fs-xs:14px;
    --fs-sm:15px;
    --fs-md:16px;
    --fs-lg:18px;
    --fs-xl:20px;
    --fs-2xl:34px;
    --fs-3xl:52px;

}


/* ======================================================
   FONT WEIGHT
====================================================== */

:root{

    --fw-normal:400;
    --fw-medium:500;
    --fw-semibold:600;
    --fw-bold:700;

}


/* ======================================================
   BORDER RADIUS
====================================================== */

:root{

    --radius-sm:12px;
    --radius-md:15px;
    --radius-lg:18px;
    --radius-xl:20px;
    --radius-2xl:25px;

}


/* ======================================================
   SHADOWS
====================================================== */

:root{

    --shadow-sm:
        0 8px 25px rgba(0,0,0,.08);

    --shadow-md:
        0 10px 30px rgba(15,23,42,.08);

    --shadow-lg:
        0 20px 45px rgba(15,23,42,.15);

}


/* ======================================================
   TRANSITIONS
====================================================== */

:root{

    --transition:.3s;

    --transition-fast:.25s;

    --transition-slow:.45s;

}


/* ======================================================
   CONTAINER
====================================================== */

:root{

    --container-width:1200px;

}